body{
    background-color: royalblue;
}
h1{
    color: tomato;
}
h2{
    color: yellow;
}
li{
    color: chartreuse;
}
p{   
     background:white;   
 }  
 input{
     border: 5px red solid;
 } 
 .hello{
     background: rebeccapurple;
     color: white;
 }
 #special{
     border: 10px orange solid;
 }
 input[type=text]{
     background: green;
 }
 input:checked{
     margin: 50px;
 }
 label{   
       text-transform: uppercase;     
}
 
#special:first-letter{   
          color:green;   
          font-size:100px;   
}
h1:hover{   
     color:white;   
     border:10px red solid;   
 }
 a:visited{   
     color:yellow;   
     }   
       
    

            
    
    